@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */

body {
    background-color: rgb(23, 23, 23);
    color: white;
    font-family: 'Source Serif Pro', serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px 10px;
}

header > h1 {
    text-align: center;
    font-family: 'Jim Nightshade', cursive;
    font-size: 4rem;
}

/* ADD BOOK */

.add-book {
    display: flex;
    margin-left: 20px;
}

.add-book-btn {
    border: 2px solid white;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 99vh;
    transition: all 0.2s;
}

.add-book-txt {
    margin-left: 5px;
    font-size: 1rem;
}

/* OVERLAY & BOOK FORM */

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    /* cursor: pointer; */
    z-index: 9;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 580px;
    padding: 20px;
    border-radius: 8px;
    background-color: #222;
    z-index: 9;
}

#input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.book-icon {
    width: 60%;
}

label {
    margin-top: 4px;
    font-size: 1.3rem;
}

input[type=text],
input[type=number],
select {
    padding: 12px 10px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: #555;
    font-size: 1.5rem;
}

.close:hover {
    cursor: pointer;
    color: #999;
}

#submit {
    padding: 12px 20px;
    margin-top: 16px;
    border-radius: 4px;
}

button[type=submit]:hover {
    background-color:rgb(16, 166, 16);
    color: white;
    border: 2px solid rgb(16, 166, 16);
}

/* CARD */

.book-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    width: 200px;
    height: 260px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.card-status-button {
    margin-top: 5px;
    width: 120px;
    height: 40px;
    border-radius: 6px;
}

.card-book {
    width: 100%;
}

.check,
.blank-check {
    margin: 8px 0 0 8px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    border-radius: 99vh;
    cursor: pointer;
}

.check {
    text-align: center;
    background-color: rgb(16, 166, 16);
}

.blank-check {
    border: 1px solid gray;
    background-color: rgba(0,0,0,0.3);
}

.blank-check:hover {
    background-color: rgba(0,0,0,0.1);
}

.card-hover {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}

.checked {
    width: 20px;
    height: 20px;
}

.card-title,
.card-author,
.card-pages {
    text-align: center;
}

.card-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 8px 0;
}

.card-author {
    font-size: 1rem;
}

/* FOOTER */

footer {
    background-color: rgb(14, 14, 14);
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

.icon-credit {
    font-size: 0.75rem;
}

.icon-credit a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* UTILITIES */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 1rem;
    transition: all 0.2s;
}

button:hover {
    cursor: pointer;
    background: white;
    color: rgb(23, 23, 23);
}